{% extends './operations_home.html' %}
{% load static %}

{% block content %}
<div class="page-content" style='width:100%;padding:0px;margin:0px;'>
	<div class="container"  style='width:100%;padding:0px;margin:0px;'>
		<div class="row"  style='width:100%;padding:0px;margin:0px;'>

		</div>
		<div style='width:100%;margin:0px;padding:12px;height:85vh;min-height:320px;overflow:auto;'>
			<div class="row" style='width:100%;padding:0px;'>
				<div class="col-12">
					<div class="card" style='border:none;width:100%;height:100%;overflow:auto;'>
						<div class="card-body" >
							<!--h4 class="card-title">Menu à la carte</h4-->
							<form data-toggle="validator" role="form" action="#" method="POST">
								{% csrf_token %}
								<div class="row" style='border-bottom:2px solid #eee;'>
									<div class="col-sm-12">
										<div class="form-group">
											<div class="replace_n h4 text-center" for="exampleFormControlSelect1"><a href="/taches/{{tache.id}}/">{{tache.m_type_entity}} à Executer : <b>{{tache.get_name}}</b></a></div>
										</div>
										<div class="text-center h5">
											<a href="/operation/decision/{{operation.id}}/">{{actual_institution.operations_name}} : {{operation}}</a>
										</div>
									</div>

								</div>
							</form>
							{% block main_content %}
							<div class=" mt-4 row pl-3" style='display:flex;justify-content:center;margin-top:10px;'>


								<div class="col-lg-10 ">
									<div class="p-2">
										{% if actual_institution.default_options == True %}
										<div> Rapport Technique : <a href="{{operation.rapported.piece_jointe.url}}" class="text-success"> <i class="fas fa-file"></i> {{operation.rapported}} </a> </div>
										{% else %}
										{% for elt in operation.aggregate_values %}
										<div class="d-flex my-2">
											<div class="pr-2 ">{{elt.label.field}}  </div>
												{% if elt.type == 'file' %}
												{% if elt.value.m_file != None and elt.value.m_file != ""  %}
													<div>
														<a href="{{elt.value.m_file.url}}"><i class="fas fa-file"></i>
														{{elt.value.m_file}}</a>
													</div>
												{% endif %}
												{% elif elt.type == 'image' %}
												{% if elt.value.m_file != None and elt.value.m_file != "" %}
												<div>
													<img src="{{elt.value.m_file.url}}" style="width:80px;height:80px;">
												</div>
												{% endif %}
												{% elif elt.type == 'choix' %}
												<div>
													{% for e in elt.extras_repported %}
														{% if e.state == '1' %}<div class="text-success d-flex"> <div><i class="fas fa-check"></i></div> <div class="value_liner pl-2">{{e.label}}</div> </div>
														{% else %}<div class="text-danger d-flex"> <div> <i class="fas fa-times">	</i> </div> <div class="value_liner pl-2">{{e.label}}</div> </div>
														{% endif %}
													{% endfor %}
												</div>
												{% else %}
												<div class="value_liner text-success">{{elt.value}}</div> 
												{% endif %}
											</div>
										{% endfor %}

										{% endif %}
										<div class="my-2"> Soumis le <span class="text-success"> {% if operation.date_rapported != None %} {{operation.date_rapported}} {% else %} {{operation.rapported.date_creation}} {% endif %}</span></div>


										<div> Par <span class="text-success"> {{operation.personnel}} </span></div>
									</div>
										{% if operation.m_commentaire != None %}
										<div class="bg-light  p-3">
											<legend>Compte Rendu</legend>
	                      					<div class="">
	                      						{{operation.m_commentaire}}
	                      					</div>
                      					</div>
                      					{% endif %}									
									{% if operation.accountable.bd_user == user %}
									<div class="my-2">
										<div data-target="#validOperModal" data-operation="{{operation}}" data-personnel="{{operation.personnel}}" data-id="{{operation.id}}" data-toggle="modal" onclick="validerTache(this);" class="opera_valider btn btn-success"> Valider </div>
										<div data-target="#annulerOperModal" data-toggle="modal" data-id="{{operation.id}}" data-rapport="{% if operation.tech_rapports.first != None %}{{operation.tech_rapports.first.id}}{% endif %}" onclick="annulerTache(this)" class="btn btn-danger"> Rejeter </div>
									</div>
									{% endif %}
									{% if operation.consulted.bd_user == user %}
									<form method="POST" action="/consult_oper/">
										{% csrf_token %}
										<input type="hidden" name="operation" value="{{operation.id}}">
										<input type="hidden" name="nb_stars" id="nb_stars">
									<div> Donnez vos Avis ( sur 5 Etoiles )</div>
									<div class="starDiv d-flex my-2">
										<div>
											<i data-id="1" class="fas fa-star"></i>
										</div>

										<div>
											<i data-id="2" class="fas fa-star"></i>
										</div>
										<div>
											<i data-id="3" class="fas fa-star"></i>
										</div>
										<div>
											<i data-id="4" class="fas fa-star"></i>
										</div>
										<div>
											<i data-id="5" class="fas fa-star"></i>
										</div>
									</div>
									<div>
										<textarea class="form-control" name="observations"  rows="6"></textarea>

										<div class="my-3">
											<input type="submit" value="Enregistrer" class="btn btn-warning" name="">
										</div>
									</div>
									</form>
									{% endif %}
								</div>





							</div>
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>

</div>

{% endblock %}

{% block modals %}
<div class="modal fade bd-example-modal-xl" id="validOperModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div style='max-width:450px;' class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-success text-white">
				<h4 class="modal-title">Valider le Rapport</h4>
				<button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form action='/valid_rapport/' method="POST">
					{% csrf_token %}
					
					{% if operation_rapport != None %}
					<div>
						<input type="hidden" value="{{operation_rapport.id}}" name="operation_rapport">
					</div>
					{% endif %}

					<div class="">
						<p>
							<div style="text-transform:uppercase;" class="h5">Vous Validez le Rapport sur l'Operation <b id='opera_valider_title' class="text-success"> </b> ?</div>
							<div class="mb-3">
								<label>Un Commentaire à associer ?</label>
								<textarea rows='5' name="opera_valider_comment" class="form-control"></textarea>
							</div>
							<div>
								<input type="hidden" id="opera_valider_id" name="opera_valider_id">
								<input type="submit" class="btn btn-success" value="Oui" name="">
								<span data-dismiss="modal" class="btn btn-danger">Non</span>
							</div>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-xl" id="annulerOperModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div style='max-width:450px;' class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header bg-danger text-white">
				<h4 class="modal-title">Annuler le Rapport</h4>
				<button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form action='/in_valid_rapport/' method="POST">
					{% csrf_token %}

					{% if operation_rapport != None %}
					<div>
						<input type="hidden" value="{{operation_rapport.id}}" name="operation_rapport">
					</div>
					{% endif %}
					<div class="">
						<p>
							<div style="text-transform:uppercase;" class="h5">Vous Invalidez le Rapport sur l'Operation <b id='opera_invalider_title' class="text-success"> </b> ?</div>
							<div>
								<input type="hidden" id="opera_invalider_id" name="opera_invalider_id">
								<input type="hidden" name="opera_invalider_rapport" id="opera_invalider_rapport">
								<input type="submit" class="btn btn-success" value="Oui" name="">
								<span class="btn btn-danger">Non</span>
							</div>
							<div>
								<label>Veuillez associer un Commentaire Svp</label>
								<textarea rows='5' required name="opera_invalider_comment" class="form-control"></textarea>
							</div>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	fa_star = document.getElementsByClassName("fa-star")
	for (var i=0;i<fa_star.length;i++){
		fa_star[i].onclick = function(){

			for (var k=0;k<fa_star.length;k++){
				fa_star[k].style.color = "#333";
			}
			elt = parseInt(this.getAttribute("data-id"));
			for (var j=0;j<elt;j++){
				fa_star[j].style.color = "yellow";
			}
			nb_stars = document.getElementById("nb_stars");
			nb_stars.value = j;
		}
	}
</script>
{% endblock %}