
{% extends './history.html' %}
{% load static %}
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
{% block add_title %} 
Archives et Historique
{% endblock %}

{% block table_content %}

{% for tache in pages_o %}

<div class="row">
	<div class="col-md-12">

	
	<div class='card'>
		<div class="card-header bg-primary text-light">
			<h5  style="font-weight:bold">{{tache}}</h5>
		</div>
			<div class="card-body">
	<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Status</th>
			<th class="bg-light text-primary">{{actual_institution.operations_name}}</th>
			{% for agg in tache.aggregates2 %}
			<th>{{agg}}</th>
			{% endfor %}
			<th>Date d'Enregistrement</th>
            </tr>
        </thead>
        <tbody>
            {% for ope in tache.operations %}
			{% for li in ope.get_operation_details %}
			<tr>
					<td> {% if li.etat == "2" %} <i class="text-success fas fa-check"></i> {% elif li.etat == "3" %} <i class="text-danger fas fa-times"></i>{% else %}<i class="text-danger fas fa-exclamation-triangle"></i>{% endif %}</td>
					<td>{{ope}}</td>
					{% for th in li.values_spl2 %}
					<td class="value_liner replace_n">{{th}}</td>
					{% endfor %}
					<td>{{li.date_created}}</td>
			</tr>
				{% endfor %}

			{% endfor %}
        
            
				<tbody>
				</table>
	
</div>
</div>
</div>
</div>


{% endfor %}	

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	jQuery(document).ready(function($){

  new DataTable('#example');});
</script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}