{% extends './programmes.html' %}
{% load static %}
{% block add_title %} 
 - Gestionnaire de Programmes
{% endblock %}

{% block table %}

<div class="d-flex justify-content-between">
    <div class="col-lg-12">
        <h4 class="card-title">Rôles</h4>
        <table class="col-lg-12">
            <tr class="bg-success text-white">
                {% for field in fields2 %}
                <th style="font-size:13px;">{{field}}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% for line in roles %}
            <tr>
                <td>{{line.nom}}</td>
                <td>{{line.description}}</td>
                <td><b>{{line.permissions}}</b></td>
                <td><button class="btn btn-success mb-1" onclick="editAction(333)"><i class="fas fa-pencil-alt"></i>
                </button> <button class="btn btn-danger" onclick="deleteAction(333)"><i class="fas fa-trash-alt"></i></button>
                </td>               
            </tr>
            {% endfor %}
        </table>
    </div> 
</div>
{% endblock %}