@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

a:hover
{
    text-decoration: none;
}

.hover-special:hover
{
    box-shadow: 0px 0px 5px #8d53df;
}

.hover-special:hover span
{
  color: #fff;
}

html,body
{
  overflow-x:hidden;
}

.bip
{
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

*
{
 font-family:"Ubuntu","Tw Cen MT","Candara";
 font-size:14px;
}

.font-family16
{
  font-size: 16px;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

table
{
 overflow:scroll;
}

.table_tasks
{

}

.table_tasks:hover
{
  background: #ccc;
  cursor: pointer;
}

.table tr:hover
{
  background: #ddd;
}
.table_tasks_type2:hover,.table_empty
{
  background-color: rgba(240,242,241,0.6);
  cursor: pointer;
}
/* Agenda Week & Day ------------ */
.week_days
{
  font-size: 15px;
}

.jours_valeurs
{
  font-size : 25px;
  color: #999;
}

.jours_valeurs:hover
{
  color:#8d53df;
  cursor:pointer;
}

.row_week:hover
{
 opacity:0.7;
 cursor:pointer;
}
.table_hours
{
  /*font-size : 10px;*/
  color:#222;
}
.table_hours_30
{
    color:#aaa;
}
.table_hours_30:hover,
.table_hours:hover
{
    cursor: pointer;
    color: #8d5fd3;
    font-weight:bold;
}
/* ----------------------------- */

.agenda_semester
{
  overflow-y: inherit;
}
/* Agenda Month ---------------- */

.date_todayM
{
  background-color: #8d53d3;
}

.date_todayM a
{
  color: #fff;
}


.table_month
{
  width : 100%;height:92%;
  font-size : 16px;
}

.table_month_mini
{
  margin:0px;
  font-size : 9px;
}
.table_month_mini td
{
  width: 10%;
}
.table_month_title
{
  text-align:center;
  width:100%;
  background-color: #fff;
  font-size : 16px;
  color : #8d5ff3;
}
.table_month td
{
  width:12.5%;
}

.days_month, .days_month a
{
  color: #000;
}

.days_month0
{
  color: #8d5ff3;
}

.month_finished, .month_finished a
{
  color: #bbb;
}
/* ----------------------------- */

/* Agenda Year ----------------- */

.div_semester
{

}

.div_semester:hover
{
  cursor: pointer;
}

.table-responsive
{
 overflow-y:hidden;
}
.table_year
{
  margin-top:10px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.table_month_year
{
  width: 30%;
  height: 48%;
  margin-bottom: 5%;
}

.table_month_year td
{
  width: 12%;
}
.table_month_year_title
{
	font-size: 12px;
}
.table_month_year
{
	font-size : 10px;
}

#modal_time input
{
	background :none;
	border: none;
}
/* ----------------------------- */

/* Clock ----------------------- */
.clock {
  border-radius: 50%;
  background: #fff url(cadran.png) no-repeat center;
  background-size: 100%;
  height: 7.5em;
  padding-bottom: 31%;
  position: relative;
  width: 7.5em;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background:#8d5ff3;
  height: 30%;
  left: 49%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 100%;
  width: 1.5%;
}

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

.colorC
{
	color:#8d35df;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite linear;
}
.seconds-container {
  animation: rotate 60s infinite linear;
}

#gadgets i:hover
{
  cursor: pointer;
  text-shadow: 0px 0px 6px #8d35df;
}

#gadgets2
{
  border-top: 1px solid #aaa;
  padding-top: 8px;
}

#gadgets2 i
{
  color: #bbb;
}
#gadgets2 i:hover
{
  cursor: pointer;
  text-shadow: 0px 0px 6px #8d35df;
}


.chevron:hover
{
  cursor: pointer;
  color: #8d35df;
}


/* ------------------------------ */
